    /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
    #map {
        height: 100%;
    }

    /* Optional: Makes the sample page fill the window. */

    html,
    body {
        height: 100%;
        margin: 0;
        padding: 0;
    }

    div#map {
        width: 100%;
        margin: auto;
        float: left;
    }

    button.btn.btn-primary.dropdown-toggle {
      width: 90%;
    }

    ul.dropdown-menu {
      width: 90%;
    } 
    #content{
        color: white;
    }

    #intractionBox{
        border: 1px #fff solid;
    }
    #intractionBox > div.form-group{
        margin: 1rem;
    }
/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 300px) and (max-width: 991.98px) {
    #intractionBox {
        position: fixed;
        width: 80%;
        height: 40%;
        top: 75%;
        left: 44%;
        transform: translate(-50%, -50%);
        background-color: rgba(0, 0, 0, 0.7);
        overflow: auto;
    }
}
/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    #intractionBox {
        position: fixed;
        width: 20%;
        height: 80%;
        top: 50%;
        left: 85%;
        transform: translate(-50%, -50%);
        background-color: rgba(0, 0, 0, 0.7);
        overflow: auto;
    }
}